<form class='container' method='post' action='reset_password'>
	<header class='container-header'>
		Enter your email to reset your password
	</header>
	Email:<input type='text' name='email'>
	<input class='button green' type='submit' value='Reset'>
</form>