<div class='container'>
	<header class='container-header'>
		Enter your email to reset your password
	</header>
	<form class='standard' method='post' action='reset_password'>
		Email:<input type='text' name='email'>
		<input class='button green' type='submit' value='Reset'>
	</form>
</div>