<h2> Welcome <%= @user.email %>, enter a new password </h2>

<form action='/users/confirm_reset_password' method='post'>
		Password: <input type='password' name='new_password'>
		Confirm Password:<input type='password' name='new_password_confirmation'>
		<input type='hidden' name='token' value=<%= @token %> >
		<input type='submit' value='Reset'>
</form>