<form class='container' action='/users/confirm_reset_password' method='post'>
	<header class='container-header'>
		Welcome <%= @user.email %>, enter a new password
	</header>
		Password: <input type='password' name='new_password'>
		Confirm Password:<input type='password' name='new_password_confirmation'>
		<input type='hidden' name='token' value=<%= @token %> >
		<input class='button green' type='submit' value='Reset'>
</form>