* {
  box-sizing: content-box;
}

form.standard {
  text-align: left;
  background-color: #dfdfdf;
  padding: 2px 10px;
  margin-bottom: 5px;
}

body {
  background-color: gray;
  background-image: url(/images/textured_paper_@2X.png);
  font-family: Arial;
}

html, body {
  height: 100%;
}

div.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}

a {
	text-decoration: none;
}

input.url-input{
  width: 200px;
}

a.button.highlighted {
	background-color: #d08858;
}


#sign-out-button {
  padding: 5px;
}

input.button.green {
  background-color: #58d088;
  border-color: black;
}

a.button, input.button {
  display: inline-block; 
  width: 100px;
  background-color: #58A0D0;
  border: 2px solid white;
  color: white; 
  text-decoration: none; 
  padding: 7px;
  text-align: center;
  border-radius: 4px; /
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); 
  font-size: 12pt;
  cursor: pointer;
}

a.title {
	color: #d08858;
}

header {
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 18pt;
	display: flex;
	margin-top: 20px;
	font-family: Arial;
}

header > * {
  margin: auto 0;
}

header #logo {    
  display: flex;  
  font-size: 30pt; 
  color: white;
  font-family: Arial;
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;  
}

header #user-links > * {
  display: inline-block;
}

header #user-links #welcome-message {
  font-size: 16px;
}

header.container-header {
  font-size: 14pt;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.container {
	background-color: #EEE;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin-right: 100px;
	padding: 15px 10px;
  padding-top: 3px;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

li.link {
  background-color: #EEE; 
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 10px;
}

li.link a.title {
  letter-spacing: 1px;
  font-size: 14pt;
}

li.link div.description {
  margin: 10px inherit;
  font-family: Arial;
  font-size: 12pt;
}

li.link span.source {
  float: right; 
  font-size: 12px;
}

li.flash-error {
  background-color: rgba(215, 40, 40, 0.9);
}

div.flash-notice{
  background-color: rgba(67,183,120,0.75);
}

div.flash-notice, li.flash-error {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

p.new-link-field{
  padding: 2px;
}

footer {
	font-family: Arial;
	font-size: 12pt;
  display: flex;
  background-color: rgba(0,0,0,0.05);
  height: 90px;
}

footer > * {
  margin: auto inherit;
}

footer img {
	width: 200px;
	height: auto;
  vertical-align: top;
  margin-right: 40px
}


footer #technologies {
  -webkit-flex: 1;
  flex: 1;
}

footer p {
  padding: 5px 25px;
}

  div.footer, div.push {
    height: 90px;
  }