
body {
  background-color: gray;
  background-image: url(/images/textured_paper_@2X.png);
  font-family: Arial;
}

a {
	text-decoration: none;
}

a.button.highlighted {
	background-color: #d08858;

}

a.button {
  display: inline-block; 
  width: 80px;
  background-color: #58A0D0;
  border: 2px solid white;
  color: white; 
  text-decoration: none; 
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); 
  font-size: 12pt;
}

a.title {
	color: #d08858;
}

header {
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 20pt;
	display: flex;
	margin-top: 20px;
	font-family: Arial;
}

header > * {
  margin: auto 0;
}

header #logo {    
  display: flex;   
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;  
}

#link-container {
	background-color: #EEE;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin-right: 100px;
	padding: 15px 10px;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

li.link {
  background-color: #EEE; 
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 10px;
}

 li.link a.title {
    letter-spacing: 1px;
  }

  li.link div.description {
    margin: 10px inherit;
    font-family: Arial;
    font-size: 10pt;
  }

  li.link span.source {
    float: right; 
    font-size: 12px;
  }

  footer {
	font-family: Arial;
	font-size: 10pt;
  display: flex;
  background-color: rgba(0,0,0,0.05);
}

  footer > * {
    margin: auto inherit;
  }

  footer img {
  	width: 200px;
		height: auto;
    vertical-align: top;
    margin-right: 40px
  }

  footer #technologies {
    -webkit-flex: 1;
    flex: 1;
  }

  footer p {
    padding: 5px 25px;
  }