<div class='container' id ='new-link'>
	<header class='container-header'>Enter details</header>
	<form class='standard' action ='/links' method='post'>
		URL: <input class='url-input' type='text' name='url' placeholder='http://www.example.com'>
		Title: <input type='text' name='title' placeholder='Title'>
		Tags: <input type='text' name='tags' placeholder='Tag'>
		<input class='button green' type='submit' value='Add link'>
	</form>
</div>