<div class='container' id ='new-link'>
	<header class='container-header'>Enter details</header>
	<form class='standard' action ='/links' method='post'>
		<p class='new-link-field'>URL: <input class='url-input' type='text' name='url' placeholder='http://www.example.com'></p>
		<p class='new-link-field'>Title: <input type='text' name='title' placeholder='Title'></p>
		<p class='new-link-field'>Tags: <input type='text' name='tags' placeholder='Tag(s)'></p>
		<p class='new-link-field'>Description: <input class='url-input' type='text' name='description' placeholder='Short description of content...'></p>
		<p class='new-link-field'><input class='button green' type='submit' value='Add link'></p>
	</form>
</div>