<div class='container' id ='new-link'>
	<header class='container-header'>Enter details</header>
	<form action ='/links' method='post'>
		URL: <input type='text' name='url'>
		Title: <input type='text' name='title'>
		Tags: <input type='text' name='tags'>
		<input class='button green' type='submit' value='Add link'>
	</form>
</div>