<footer>
	<div id='makersacademy-logo'>
		<a href='http://www.makersacademy.com'>
			<img id='makers-logo-img' src='http://www.makersacademy.com/images/logo-two-lines.png'>
		</a>
	</div>
	<div id='technologies'>
		<p><a class='title' href="http://www.makersacademy.com">
			I built this page at Makers Academy, a highly selective 12 week coding course in London.</a>
		</p>
		<p> This website is built using Ruby, Sinatra, Rspec, Capybara, HTML and CSS
		</p>
	</div>
</footer>