<header>
	<a id='logo' href='/'>Bookmark Manager</a>
	<div id='user-links'>
		<% if current_user %>
			<span id='welcome-message'>
				Welcome, <%= current_user.email %>
			</span>
			<a href='/links/new' id='add-link' class='button highlighted'>Add Link</a>
			<form id='sign-out' method='post' action='/sessions'>
				<input type='hidden' name='_method' value='delete'>
				<input id='sign-out-button' class='button' type='submit' value='Sign Out'>
			</form>
		<% else %>
			<a href='/users/new' id='sign-up' class='button highlighted'>Sign Up</a>
			<a href='/sessions/new' id='sign-in' class='button'>Sign In</a>
		<% end %>	
	</div>
</header>